.prim-color
  color: #4B9F8E

th
  color: #4B9F8E
  font-size: 20px
  font-weight: normal
td
  color: #707070

.search-input
  width: 100%
  border-radius: 45px
  -moz-border-radius: 45px
  -webkit-border-radius: 45px

.click-cus:hover
  cursor: pointer

.title-table
  font-size: 25px

ngb-pagination ::ng-deep
  a
    background: #D0D0D0
    color: black
    margin: 0 5px 0 5px
    border-radius: 5px

  .page-item.active .page-link
    border-color: #FFC183
    background-color: #FFC183
    color: white !important

    &:focus
      box-shadow: 0 0 0 0.1rem dimgrey

.page-link:not(:disabled):not(.disabled):active:focus, ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus
  box-shadow: 0 0 0 0.1rem dimgrey
